<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title >Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width"> -->
<!-- <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
          </p> -->
<!-- <input matInput placeholder="Username"> -->
<!-- <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
            <div *ngIf="formControls.username.errors.required">Username is required</div>
          </div> -->
<!-- </mat-form-field> -->

<!-- <mat-form-field class="example-full-width"> -->
<!-- <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">

          </p> -->
<!-- <input matInput placeholder="Password" type = 'password'> -->
<!-- <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
          </div> -->
<!-- </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="warn" class="btn-block" (click)="login()">Log in</button>
    </form>
  </mat-card>

</div> -->

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="box">
    <div class = 'card-header'>
      <h2 class ='title'>Log in</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="btn-block" mat-stroked-button color="primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
          </button>
          <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
      </div>
  </form>
</div>
</div>

